@font-face {
  font-family: 'WarcraftFont';
  src: url("/fonts/WarcraftFont.WOFF") format('woff'),
       url("/fonts/WarcraftFont.ttf") format('truetype');
}
*{
  color: white;
  font-family: 'WarcraftFont', Fallback, sans-serif;
}

.members-table-head{

}

.login-thumbnail{
  max-height: 45px;
  border-radius: 90px;
}

.nav-link, .thumbnail-span{
  color: #9d9d9d;
}

.nav-link:hover, .thumbnail-span:hover{
  color: white;
  text-decoration: none;
}

#basic-nav-dropdown{
  padding: 0;
  line-height: 50px;
}

.banner{
  max-height: 20em;
  width: 100%;
  object-fit: contain;
}

body, .well, td, th, .popover, .list-group-item{
  background-color: black;
  background-repeat: repeat;
}

.armory{
  background-repeat: no-repeat;
  object-fit: contain;
  min-height: 600px;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.banner-div{
  background-image: url("/images/kubrickbgcolor.png");
  background-repeat: repeat-x;
  margin-bottom: 1em;
}

body{
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
}

.contact{
  position:relative;
}

.navbar{
  margin: 0;
  padding: 0;
  position:fixed;
  width: 100%;
  z-index: 100;
  /*border: 2px solid;*/
}
.menu{
  height: 52px;
  /*border: 2px solid;*/
}
.carousel-img{
  width:100%;
}

.members-table{
  font-size: 2em;
}

th, .raid-table, .members-table-cell, .achievement-table-cell{
  text-align: center;
  vertical-align: middle;
  line-height: inherit;
}

.achievement-table-cell{
  font-size: 1.5em;
}

.modal-content{
  background-color: black;
}

.frame{
  width: 49px;
  height: 49px;
  background: url("http://us.battle.net/wow/static/images/icons/frames/inventory-slots.png");
  background-repeat: no-repeat;
  border-radius: 4px;
  /*display: block;*/
  padding: 1px;
  /*margin: 10px;*/
  /*position: absolute;*/
}

.equip-icon{
  width: 47px;
  height: 47px;
  border-radius: 4px;
}

.left-gear{
  display: flex;
  flex-direction: column;
  /*flex-grow:1;*/
  justify-content: space-around;
  /*flex-basis: 45%;*/
  padding-left: 2em;
  max-height: 38.5em;
  margin-top: 2em;
}

.right-gear{
  display: flex;
  flex-direction: column;
  /*flex-grow:1;*/
  justify-content: space-around;
  align-content: flex-end;
  padding-right: 2em;
  max-height: 38.5em;
  margin-top: 2em;
  /*background-color: black;*/
}

.bottom-gear{
  display: flex;
  /*flex-grow:1;*/
  justify-content: space-around;
  align-items: flex-end;
  min-width: 32%;
  /*flex-basis: 80%;*/
  /*clear: both;
  align-content: flex-end;*/
  margin-bottom: 2em;
}

#character-spell-speed{
  margin-bottom: 2em;
}
.character-stats-row{
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

strong{
  font-size: 2em;
  text-decoration: underline;
}

.collapsible-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible-icon{
  margin-right: 1em;
}

.talent-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.talent-icon{
  margin-right: 1em;
  max-height: 36px;
  max-width: 36px;
}

.character-stats{
  display: flex;
  justify-content: space-around;
}

.character-grid{
  /*display: flex;
  justify-content: center;*/
}

.achievement-news-table{
  display: flex;
  justify-content: center;
}

.achievement-table{
  max-width: 45%;
  margin: 1em;
}

.news-table{
  max-width: 45%;
  margin: 1em;
}

.achievement-table-head{
  min-height: 52px;
  font-size: 1.5em;
}

.playerImg{
  max-width: 84px;
}

.wow-class-button{
  min-width: 100%;
}

.recruit-application-div,
.about-grid{
    border: 1px solid white;
    background-color: black;
    padding-top: 1em;
}

.application-text,
.control-label,
.form-control{
  font-family: sans-serif;
}

.radio-inline,
.help-block{
  font-family: sans-serif;
  margin-left: 1em;
}

.footer{
  padding-top: 1em;
}
